.vs/
ToDo liste.txt.bak
ToDo liste.txt
Aspie Planner/bin/Debug/
Aspie Planner/obj/Debug/Aspie Planner.csprojAssemblyReference.cache
Aspie Planner/obj/Debug/Aspie Planner.csproj.GenerateResource.cache
Aspie Planner/obj/Debug/Aspie Planner.csproj.GenerateResource (DESKTOP-ADS3VVCs modstridende kopi 2018-06-13).cache
Aspie Planner/obj/Debug/Aspie Planner.csproj.FileListAbsolute.txt
Aspie Planner/obj/Debug/Aspie Planner.csproj.FileListAbsolute (DESKTOP-ADS3VVCs modstridende kopi 2018-06-13).txt
Aspie Planner/obj/Debug/Aspie Planner.csproj.CoreCompileInputs.cache
Aspie Planner/obj/Debug/Aspie Planner.csproj.CoreCompileInputs (DESKTOP-ADS3VVCs modstridende kopi 2017-11-10).cache
Aspie Planner/obj/Debug/Aspie Planner.application
Aspie Planner/obj/Debug/Aspie Planner (DESKTOP-ADS3VVCs modstridende kopi 2018-06-13).pdb
Aspie Planner/obj/Debug/Aspie Planner (DESKTOP-ADS3VVCs modstridende kopi 2018-06-13).exe
Aspie Planner/obj/Debug/Aspie Planner (DESKTOP-ADS3VVCs modstridende kopi 2018-06-13).application
Aspie Planner/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Aspie Planner/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Aspie Planner/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Aspie Planner/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
Aspie Planner/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Aspie Planner/obj/Debug/DesignTimeResolveAssemblyReferencesInput (DESKTOP-ADS3VVCs modstridende kopi 2017-11-10).cache
Aspie Planner/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Aspie Planner/obj/Debug/Aspie_Planner.TaskOverview.resources
Aspie Planner/obj/Debug/Aspie_Planner.RecurringTaskForm.resources
Aspie Planner/obj/Debug/Aspie_Planner.Properties.Resources.resources
Aspie Planner/obj/Debug/Aspie_Planner.Forms.WeekPlannerSettings.resources
Aspie Planner/obj/Debug/Aspie_Planner.Forms.WeekPlanner.resources
Aspie Planner/obj/Debug/Aspie Planner.pdb
Aspie Planner/obj/Debug/Aspie Planner.exe.manifest
Aspie Planner/obj/Debug/Aspie Planner.exe (DESKTOP-ADS3VVCs modstridende kopi 2018-06-13).manifest
Aspie Planner/obj/Debug/Aspie Planner.exe
